@font-face {
  font-family: Regular;
  src: url("/public/Regular.otf");
}

* {
  font-family: "Regular";
}

.navbar {
  height: 700px;
  width: 200px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;

  font-family: "Regular";
  padding-top: 25px;
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  font-family: "Regular";
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  font-family: "Regular";
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.4vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.558);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-zinc-light);
      color: var(--mantine-color-zinc-light-color);

      .linkIcon {
        color: var(--mantine-color--light-color);
      }
    }
  }
}

.linkIcon {
  /* color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2)); */
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  /* color: #CCCCCC; */
  height: 25px;

}







.link:nth-child(1) {
  font-weight: 600;
  color: black;
}


