.header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.322);
  padding: 0.6rem 2.4rem;
  height: 10.7vh;
}
.inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 500;
  background-color: red;
}
